// Abstracts
@use 'abstracts/variables';

// Base
@use 'base/reset';
@use 'base/typography';

// Components
@use 'components/buttons';
@use 'components/navbar';

// Sections
@use 'sections/hero';
@use 'sections/cards';
@use 'sections/about';
@use 'sections/methode';
@use 'sections/tarifs';
@use 'sections/contact';
@use 'sections/blog';
@use 'sections/footer';
@use 'sections/confirmation';
@use 'sections/legal';

// Utilities
@use 'utilities/animations';

